dnspython==2.2.1
json2html==1.3.0
pandas==1.3.5
psutil==5.9.2
pyAesCrypt==6.0.0
pyfiglet==0.8.post0
PyQt5==5.15.7
pyqtconsole==1.2.2
pyshorteners==1.0.1
requests==2.27.1
rich==13.0.1
scapy==2.4.4
speedtest_cli==2.1.3
